@import url(./header.css);
@import url(./banner.css);
@import url(./itemBoxContainer.css);
@import url(./videoBoxContainer.css);
@import url(./imgContainer.css);
@import url(./footer.css);

* {
    padding: 0;
    margin: 0;
    user-select: none;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
/*滚动条整体粗细样式*/
*::-webkit-scrollbar {
    /*高宽分别对应横竖滚动条的尺寸*/
    width: 8px;
    height: 8px;
}

/*滚动条里面小方块*/
*::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2) !important;
    /* 颜色 */
    /* background:#b6b6b6!important; */
    background-color: gray;
    /* 线性渐变背景 */
    /* background-image: linear-gradient(45deg, #ffbd61 25%,#ffbd61 25%, #ff8800 25%, #ff8800 50%,#ffbd61 50%, #ffbd61 75%, #ff8800 75%, #ff8800 100%)!important; */
}

/*滚动条轨道*/
*::-webkit-scrollbar-track {
    border-radius: 10px !important;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2) !important;
    background: #EDEDED !important;
}

body {
    /* background-color: #3f72af; */
    /* background-color: #5e63b6; */
    /* background-image: url("https://www.2008php.com/2019_Website_appreciate/2019-09-05/20190905092726.jpg"); */
    /* background-image: url("https://images2.alphacoders.com/103/103560.jpg"); */
    background-repeat: no-repeat;
    background-size: 100vw;
    background-attachment: fixed;
}